<script type="text/javascript">
    App = Ember.Application.create();
    App.set('user', {
        name: 'moshe'
    });
</script>


<script type="text/x-handlebars" data-template-name="application">
    <h2>hello {{App.user.name}}! </h2>
</script>

