<script type="text/javascript">
    App = Ember.Application.create();
    App.set('user', Ember.Object.create({
        firstName: 'moshe'
    }));

    App.set('emails', []);
</script>


<script type="text/x-handlebars" data-template-name="application">
    <h2>hello {{App.user.firstName}}! </h2>

    <span class="emails">
        {{App.emails.length}} emails
    </span>
</script>

